* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}
body::-webkit-scrollbar {
  width: 9px;
}
body::-webkit-scrollbar-track {
  background: #515151;
}

body::-webkit-scrollbar-thumb {
  background: #9d4c4c;
}
body::-webkit-scrollbar-thumb:hover {
  background: #b58181;
}
body {
  background-image: url(./bg.jpg);
  background-size: cover;
  background-position: center;
}
