.nav {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 6rem;
  background-color: rgb(52, 52, 110);
  background: rgb(128, 33, 44);
  background: linear-gradient(
    126deg,
    rgb(141, 37, 49) 0%,
    rgba(41, 41, 41, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  transition: all 1s ease;
  margin-left: 2rem;
  margin-top: 10px;
  color: white;
}
.logo a {
  text-decoration: none;
  color: white;
}
#wheel {
  margin-left: 20px;
}
.nav-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: 1.4rem;
}

.nav-list {
  list-style-type: none;
  display: inline;
}
.nav-list li {
  display: inline;
  color: white;
  margin-right: 3rem;
  transition: all 0.1s ease-in;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  transition: all 0.1s ease-in;
}
.nav-list li a :visited {
  text-decoration: none;
  color: white;
}
.nav-list li a:hover {
  color: rgb(255, 253, 135);
}
.nav-list li:last-child a:hover {
  color: rgb(84, 172, 255);
}
.dropdown-container {
  border-radius: 10px;
  position: absolute;
  top: 80%;
  left: 0;
  width: 20rem;
  font-size: 1.1rem;
  opacity: 0;
  transition: all 0.1s ease-in;
  height: auto;
  background: rgb(92, 30, 39);

  -webkit-box-shadow: -6px 5px 28px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px 5px 28px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -6px 5px 28px -9px rgba(0, 0, 0, 0.75);
}

.dropdown-list {
  list-style-type: none;
  padding: 1rem;
}

.dropdown {
  padding: 0;
  position: relative;
}
.dropdown:hover .dropdown-container {
  top: 120%;
  opacity: 1;
  display: flex;
  align-items: center;
}
.dropdown-list li {
  margin-top: 20px;
}
@media (max-width: 1100px) {
}
@media (max-width: 750px) {
  .logo {
    transition: none;
    margin: 0;
  }
  .logo :hover {
    font-size: 2rem;
  }
  .nav {
    margin: 0;
    z-index: 1000;
    position: relative;
    height: auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }
  .nav-list a {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .title {
    margin-top: calc(50vh - 12rem);
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 3rem;
    margin-top: calc(50vh - 12rem);
    margin: 0;
  }
}
