* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 9px;
}
body::-webkit-scrollbar-track {
  background: #515151;
}
.bg-image-container {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -100;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  height: 100vh;
  object-fit: cover;
  opacity: 0.2;
  overflow: hidden;
}
.bg-image {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}
body::-webkit-scrollbar-thumb {
  background: #9d4c4c;
}
body::-webkit-scrollbar-thumb:hover {
  background: #b58181;
}
body {
  background-color: rgb(29, 21, 21);
}
