

    .contact-form-block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 9rem;
        padding: 0 2rem; 
      }
      
      .contact-form {
        background: linear-gradient(
          180deg,
          rgb(77, 195, 235) 0%,
          rgb(48, 140, 171) 100%
        );
        border-radius: 20px;
        padding: 2rem; 
        width: 100%;
        max-width: 450px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      }
      
      .contact-text {
        color: white;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
      }
      
      .input_field {
        margin-bottom: 1rem; 
      }
      
      .input_field label {
        color: white;
        display: block; 
        margin-bottom: 0.5rem;
      }
      
      .input_field input,
      .input_field textarea {
        width: 100%; 
        border: none;
        border-radius: 10px;
        padding: 10px; 
        resize: none; 
      }
      
      .input_field textarea {
        height: auto; 
        
        
      }
      
      .submit_container {
        text-align: center; 
      }
      
      .submit_button {
        margin-top: 1rem;
        font-size: 1em;
        border-radius: 4px;
        border: none;
        width: 150px; 
        height: 40px; 
        background-color: white;
        color: rgb(48, 140, 171);
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .submit_button:hover {
        background-color: rgb(115, 193, 218);
        color: white;
      }
      
      .submit_button:active {
        background-color: rgb(105, 163, 182);
        color: white;
      }
      