.info-title {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  margin-top: 8rem;
  margin-inline: 1rem;
}
.info-description {
  font-size: 1.5rem;
  margin-inline: 1rem;
  color: white;
}
.options {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10rem;
}
.options a:first-child .option {
  background-color: rgba(3, 24, 255, 0.1);
}
.options a:last-child .option {
  background-color: rgba(255, 3, 3, 0.1);
}
.options a:nth-child(2) .option {
  background-color: rgba(255, 255, 0, 0.1);
}
.options a:first-child:hover .option {
  background-color: rgba(30, 0, 179);
}
.options a:last-child:hover .option {
  background-color: rgb(154, 0, 0);
}
.options a:nth-child(2):hover .option {
  background-color: rgb(122, 112, 0);
}
.option {
  padding: 1rem;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  transition: all 0.2s ease;
  z-index: 500;
}
.options a {
  text-decoration: none;
  color: white;
}
.option-title {
  font-size: 1.5rem;
}
@media (max-width: 1100px) {
  .options {
    flex-wrap: wrap;
    row-gap: 2rem;
  }
}
