.container {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.login-or-register {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 10rem;
}
  

.separator {
  height: 500px;
  background: rgb(128, 33, 44);
  width: 3px;
  border-radius: 20px;
}
.login {
  background: rgb(128, 33, 44);
  background: linear-gradient(
    180deg,
    rgb(140, 39, 51) 0%,
    rgb(87, 40, 40) 100%
  );
  height: 300px;
  width: 400px;
  border-radius: 20px;
  margin-left: 3rem;
}

.register {
  margin-right: 3rem;
  background: rgb(128, 33, 44);
  background: linear-gradient(
    180deg,
    rgb(141, 37, 49) 0%,
    rgb(87, 40, 40) 100%
  );
  height: 500px;
  width: 400px;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .login-or-register {
    flex-direction: column;
    position: relative; 
    top: 0; 
    align-items: center; 
  }

  .login, .register {
    width: 90%; 
    margin: 20px auto; 
  }

  .separator {
    height: 3px; 
    width: 50%; 
    margin: 20px auto; 
  }
}  
.login-text {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.input-field {
  margin-left: 2rem;
}
.input-field label {
  color: white;
}
.input-field input {
  width: calc(100% - 2rem);
  height: 2rem;
  border: none;
  border-radius: 10px;
  padding: 5px;
}
.submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.submit-button {
  margin-top: 2rem;
  font-size: 1em;
  border-radius: 4px;
  border: none;
  width: 7em;
  height: 2em;
  z-index: 500;
}
.submit-button:hover {
  background-color: rgb(165, 114, 114);
  color: white;
  cursor: pointer;
}
.submit-button:active {
  background-color: rgb(134, 86, 86);
  color: white;
  cursor: pointer;
}
