.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: fit-content;
}

.login-or-register {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  position: relative;
  margin-top: 10rem;

  margin-bottom: 10rem;
}

.separator {
  height: 500px;
  background: rgb(67, 177, 214);
  width: 3px;
  border-radius: 20px;
}
.form-block {
  position: relative;
}
.login {
  background: rgb(67, 177, 214);

  background: linear-gradient(
    180deg,
    rgb(77, 195, 235) 0%,
    rgb(48, 140, 171) 100%
  );

  height: 300px;
  width: 400px;
  border-radius: 20px;
  margin-left: 3rem;
}

.register {
  margin-right: 3rem;
  background: rgb(67, 177, 214);
  background: linear-gradient(
    180deg,
    rgb(77, 195, 235) 0%,
    rgb(48, 140, 171) 100%
  );

  height: 500px;
  width: 400px;
  border-radius: 20px;
}
@media (max-width: 970px) {
  .form-block {
    width: 35%;
  }
}
@media (max-width: 768px) {
  .login-or-register {
    flex-direction: column;
    position: relative;
    top: 0;
    align-items: center;
  }

  .login,
  .register {
    width: 90%;
    margin: 20px auto;
  }

  .separator {
    height: 3px;
    width: 50%;
    margin: 20px auto;
  }
}
.login-text {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.input-field {
  margin-left: 2rem;
}
.input-field label {
  color: white;
}
.input-field input {
  width: calc(100% - 2rem);
  height: 2rem;
  border: none;
  border-radius: 10px;
  padding: 5px;
}
.submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.submit-button {
  margin-top: 2rem;
  font-size: 1em;
  border-radius: 4px;
  border: none;
  width: 7em;
  height: 2em;
  z-index: 500;
}
.submit-button:hover {
  background-color: rgb(115, 193, 218);
  color: white;
  cursor: pointer;
}
.submit-button:active {
  background-color: rgb(105, 163, 182);
  color: white;
  cursor: pointer;
}


