.menu {
  position: absolute;
  z-index: 1001;
  right: 0;
  top: 30%;
  display: none;
  visibility: hidden;
}
.nav {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 6rem;
  background-color: rgb(52, 52, 110);
  background: rgb(67, 177, 214);
  background: linear-gradient(
    126deg,
    rgb(77, 195, 235) 0%,
    rgb(9, 132, 173) 100%
  );

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  transition: all 1s ease;
  margin-left: 2rem;
  margin-top: 10px;
  color: white;
}
.logo a {
  text-decoration: none;
  color: white;
}
#wheel {
  margin-left: 20px;
}
.nav-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: 1.4rem;
}

.nav-list {
  list-style-type: none;
  display: inline;
}
.nav-list li {
  display: inline;
  color: white;
  margin-right: 3rem;
  transition: all 0.1s ease-in;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  transition: all 0.1s ease-in;
}
.nav-list li a :visited {
  text-decoration: none;
  color: white;
}
.nav-list li a:hover {
  color: rgb(255, 253, 135);
}
.nav-list .item:last-child a:hover {
  color: rgb(84, 172, 255);
}
.dropdown-container {
  border-radius: 10px;
  position: absolute;
  top: 80%;
  left: 0;
  width: 20rem;
  font-size: 1.1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in;
  height: auto;
  background-color: rgb(67, 177, 214);
  padding: 0;
  -webkit-box-shadow: -6px 5px 28px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px 5px 28px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -6px 5px 28px -9px rgba(0, 0, 0, 0.75);
}

.dropdown-list {
  list-style-type: none;
  padding: 0;
}

.dropdown {
  padding: 0;
  position: relative;
}
.dropdown:hover .dropdown-container {
  top: 120%;
  opacity: 1;
  display: block;
  visibility: initial;
}
.dropdown-list li {
  display: block;
  padding: 0;
  width: 100%;
  margin: 0;
}
.dropdown-list li a {
  display: block;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin: 0;
}
.dropdown-list li:first-child a {
  border-radius: 10px 10px 0px 0px;
}
.dropdown-list li:last-child a {
  border-radius: 0px 0px 10px 10px;
}
.dropdown-list li a:hover {
  background: rgb(14, 106, 137);
}

@media (max-width: 1085px) {
  .nav-list li {
    margin-right: 1.5rem;
  }
}

@media (max-width: 960px) {
  .nav-list li {
    font-size: 1.2rem;
    margin-right: 1.3rem;
  }
  .dropdown-container {
    width: 15rem;
  }
}
@media (max-width: 870px) {
  .nav-list li {
    font-size: 1.1rem;
    margin-right: 1.2rem;
  }
}
@media (max-width: 800px) {
  .nav-list li {
    font-size: 1rem;
    margin-right: 1.2rem;
  }
}
@media (max-width: 750px) {
  .logo {
    margin-left: 0;
  }
  .menu {
    visibility: initial;
    position: relative;
  }
  .nav ul li:not(.menu) {
    display: none;
    text-align: center;
    visibility: hidden;
    height: fit-content;
    margin-bottom: 1rem;
    margin-inline: auto;
  }
  .nav {
    margin: 0;
    z-index: 1000;
    position: relative;
    height: auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }
  .nav-list li a {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.2rem;
  }
  .title {
    margin-top: calc(50vh - 12rem);
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 3rem;
    margin-top: calc(50vh - 6rem);
  }
}
