.profile-container {
  margin-top: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.386);
  border-radius: 50px;
  row-gap: 1rem;
}
.avatar {
  width: 50%;
  margin-bottom: 1rem;
}
.username {
  font-weight: bold;
  font-size: 1.3rem;
}
.rank {
  color: chartreuse;
}
.points,
.rank {
  font-weight: bold;
  font-size: 1.2rem;
}
.admise {
  color: greenyellow;
}
.picate {
  color: rgb(150, 0, 0);
  margin-bottom: 2rem;
  font-weight: bold;
}
#sign-out {
  background-color: white;
  cursor: pointer;
  width: 7rem;
  height: 3rem;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.6s ease-in;
}
#sign-out:hover {
  background-color: rgb(176, 57, 57);
  color: white;
}
