.question-container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.question-and-image {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.question {
  width: 50%;
}
.header {
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.question-text,
.variant-container {
  background-color: rgb(137, 67, 67);
  color: white;
  font-size: 1.5rem;
  text-indent: 2rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  min-height: 5rem;
}
.question-text {
  margin-bottom: 2rem;
}
.variant-container {
  margin-bottom: 1rem;
  cursor: pointer;
}
.variant-container input {
  opacity: 0;
  z-index: -9999;
}
.q-image-container {
  width: 40%;
  border-radius: 20px;

  overflow: hidden;

  position: relative;
}
.q-image {
  border-radius: 20px;
  object-fit: cover;
  opacity: 1;
  width: 100%;
  object-position: center;
  position: absolute;
}
.send {
  background-color: rgb(12, 121, 129);
  width: 10rem;
  min-height: 5rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 1em;
}
.send:active {
  background-color: rgb(28, 149, 157);
}
