.question-container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.question-and-image {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 100%;
}

.question {
  width: 50%;
}
.header {
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.question-text,
.variant-container {
  background-color: rgb(33, 177, 193);
  color: white;
  font-size: 1.5rem;
  text-indent: 2rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  min-height: 5rem;
}
.question-text {
  margin-bottom: 2rem;
}
.variant-container {
  margin-bottom: 1rem;
  cursor: pointer;
}
.variant-container input {
  opacity: 0;
  z-index: -2;
}
.q-image-container {
  width: 40%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  height: 400px;
}

.q-image {
  border-radius: 20px;
  object-fit: cover;
  opacity: 1;
  height: 100%;
  object-position: center;
  position: relative;
}
.send {
  background-color: rgb(12, 121, 129);
  width: 10rem;
  min-height: 5rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 1em;
}
.send:active {
  background-color: rgb(28, 149, 157);
}
@media (max-width: 750px) {
  .question-and-image {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .q-image-container {
    width: 80%;
    border-radius: 20px;

    overflow: hidden;

    position: relative;
  }
  .q-image {
    border-radius: 20px;
    object-fit: cover;
    opacity: 1;
    width: 100%;
    object-position: center;
    position: relative;
  }
  .question {
    width: 80%;
    margin-top: 1rem;
  }
}
audio {
  display: none;
  visibility: hidden;
}

#sound {
  margin-left: 4rem;
  margin-top: 2rem;
  cursor: pointer;
}
.popup {
  margin-top: 14rem;
  -webkit-box-shadow: 7px 7px 23px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 23px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 23px -7px rgba(0, 0, 0, 0.75);
  border-radius: 50px;
  width: 500px;
  height: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.5rem;
}
.popup-title {
  font-size: 2.4rem;
  margin-top: 3rem;
  font-weight: bold;
}
.popup-score {
  font-size: 2rem;
}
#success-popup {
  background-color: rgb(200, 255, 190);
}
#failed-popup {
  background-color: rgb(255, 190, 190);
}
.back-to-menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.back-to-menu {
  transition: all 0.2s ease;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 3rem;
  border-radius: 10px;
  -webkit-box-shadow: 7px 7px 23px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 23px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 23px -7px rgba(0, 0, 0, 0.75);
}

.back-to-menu:hover {
  background-color: rgb(233, 233, 233);
}
.screen-block {
  z-index: 100;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
