


.statistics-container {
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 13rem;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.stat-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: 15px;
  box-sizing: border-box;
  height: auto;

}

.stat-item h2 {
  margin-bottom: 10px;
  color: #333;
  font-size: 20px;
}

.stat-item p {
  font-size: 25px;
  font-weight: bold;
  color: #007bff;
}

@media (max-width: 1024px) {
  .stat-item {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .stat-item {
    width: 100%;
    margin: 10px 0;
  }

  .statistics {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .stat-item {
    width: 100%;
    margin: 10px 0;
  }

  .statistics {
    flex-direction: column;
    align-items: center;
  }
}


