.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-bottom: 10rem;
  min-height: 100vh;
}

.logo {
  color: white;
  font-size: 2rem;
  transition: all 1s ease;
}

.nav-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: 1.4rem;
}

.bgimg {
  width: auto;
  height: 200vh;
  object-fit: cover;
  width: 100%;
  opacity: 0.2;
  z-index: -1;
  position: absolute;
}

.extra-space {
  height: 100vh;
}

.title {
  z-index: 200;
  color: white;
  text-align: center;
  margin-top: calc(50vh - 6rem);
  margin-inline: 2rem;
  font-size: 5rem;
}
.background-home-page {
  width: 100%;
  height: 100vh;
}
.info {
  height: 100vh;
  background-color: white;
}

.about-section {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1rem;

  background: linear-gradient(
    126deg,
    rgb(77, 195, 235) 0%,
    rgb(9, 132, 173) 100%
  );
  font-size: 2rem;
  color: white;
  position: relative;
  margin-top: auto;
  height: 120px;
  text-align: center;
  margin-bottom: 0;

  justify-content: flex-start;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
}

.content-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  color: white;
  font-size: 1.6rem;
  word-spacing: 0.15rem;
  line-height: 3rem;
  font-family: "Raleway", sans-serif;
  padding: 1rem;
}

.home-page-image {
  width: 40%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.home-page-image img {
  border-radius: 20px;
  object-fit: cover;
  opacity: 1;
  height: 100%;
  object-position: center;
  position: absolute;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content-list,
  .home-page-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .home-page-image img {
    position: relative;
    width: 80vw;
    margin-inline: auto;
  }
}
.logo-about {
  position: relative;
  margin-left: 5.5rem;
  margin-top: 1rem;
}
.despre-noi {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5px;
}

.about-text {
  margin-top: 0;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.social-media-icons {
  position: relative;
  bottom: 0;
  left: 0;

  padding-bottom: 0;
}

.fa {
  border-radius: 10px;
  width: 3rem;
  background-color: rgba(255, 255, 255, 0.548);
  font-size: 30px;
  color: white;
  padding: 10px;
  padding-bottom: 0;
  margin: 0 2px;
  text-align: center;
  margin-bottom: 5px;
  text-decoration: none;
}

.fa-facebook {
  color: #316ff6;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-linkedin {
  color: #0762c8;
}

.fa-instagram {
  color: #d62976;

  display: inline-block; /* Required for gradients in some browsers */
}

.fa:hover {
  opacity: 0.7;
}
.wrapper {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  margin-left: 4rem;
}
.follow-us {
  margin-left: 3.7rem;
  margin-bottom: 0.2rem;
}

.about-buttons {
  margin-left: 5rem;
  justify-content: flex-start;
  display: flex;
  width: 50%;
  column-gap: 10%;
}
.button-footer {
  width: 9rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.694);
  color: rgb(0, 100, 159);
  font-size: 1.5rem;
}
.about-buttons a {
  text-decoration: none;
}
.button-footer:hover {
  background-color: rgba(255, 255, 255, 1);
}
@media (max-width: 1100px) {
  .about-buttons {
    margin-left: 5rem;
    justify-content: flex-start;
    display: flex;
    width: 30%;
    column-gap: 1rem;
  }
}
@media (max-width: 1010px) {
  .about-section {
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    height: fit-content;
    align-items: center;
  }
  .about-section * {
    margin-left: 0;
    margin-right: 0;
  }
  .about-buttons {
    margin-bottom: 2rem;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 750px) {
  .wrapper {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
}
